/* VERTICAL FOURTH PAGE (MEMBERS) */

#members {
    min-height: fit-content;
    margin-top: -7vh; /* Overlap the iframe video above */
}

#members section{
    z-index: auto;
    background-color: black;
}

.vertical_fourth {
    min-height: fit-content;
    position: relative;
    z-index: 10;
    color: white;
}

.vertical_fourth .profile-container {
    top: 0;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    gap: 50px;
    align-content: center;
    min-height: fit-content;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-image: url(../images/bg/members_bg.jpg);
    background-size: cover;
    transition: max-height 0.5s ease;
}

.vertical_fourth .profile-container .single-profile-container{
    display: grid;
    align-content: center
}


@media screen and (max-width: 1000px) and (orientation:landscape){
    .vertical_fourth .profile-container{
        display: grid;
    }
    
}

/* Mark Profile */

.vertical_fourth .profile-container .martin_profile,
.vertical_fourth .profile-container .mark_profile {
    width: 100%;
    position: relative;
    margin-top: 50px;
    min-height: 60vh;
    display: grid;
    border-radius: 40px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    border: solid 2px rgb(36, 36, 36);
}

.vertical_fourth .profile-container .mark_profile .single-profile-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/gallery/urd_t5_maures_2018_ks_brands_hatch.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(0.5);
    z-index: 1;
}

.vertical_fourth .profile-container .martin_profile .single-profile-container:hover::before,
.vertical_fourth .profile-container .mark_profile .single-profile-container:hover::before{
    filter: blur(5px) brightness(0.3);
}

.vertical_fourth .profile-container .martin_profile .single-profile-container > *,
.vertical_fourth .profile-container .mark_profile .single-profile-container > * {
    position: relative;
    z-index: 2; 
}

/* Martin Profile */

.vertical_fourth .profile-container .martin_profile .single-profile-container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/gallery/20240715211430_1.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(2px) brightness(0.5);
    z-index: 1;
}


/* General */

.vertical_fourth .profile-container .profile-picture{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    height: 100%;
    transition: all 0.3s ease-out;
}

.vertical_fourth .profile-container .profile-picture img{
    width: auto;
    height: 40vh;
}

.vertical_fourth .profile-container .description{
    background-color: transparent;
    overflow-y: auto;
    color: white;
    overflow-y: visible;
    font-family: Tahoma, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-size: 14px;
}

.vertical_fourth .profile-container #martin_achievements,
.vertical_fourth .profile-container #mark_achievements{
    display: none;
    margin-top: 100px; 
    letter-spacing: 1px;
}

.vertical_fourth .profile-container .achievements{
    margin-left: 70px;
    padding-top: 10px;
}

.vertical_fourth .profile-container p,
.vertical_fourth .profile-container p{
    margin: 0px;
}

/* Apply animation to each list item under #martin_achievements or #mark_achievements */
#martin_achievements li,
#mark_achievements li {
    padding-bottom: 3px;
    opacity: 0;
    transform: translateY(20px); /* Start with slight vertical offset */
    animation: fadeInUp 0.5s ease forwards;
}


/* Define the fade-in-up animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Hover effect for profile container */

.vertical_fourth .profile-container .mark_profile:hover,
.vertical_fourth .profile-container .martin_profile:hover {
    transform: scale(1.0); /* Slightly enlarge the profile container */
}

.vertical_fourth .profile-container .mark_profile:hover .profile-picture,
.vertical_fourth .profile-container .martin_profile:hover .profile-picture {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 100%;
    height: 150px;
}

.vertical_fourth .profile-container .mark_profile:hover .profile-picture img,
.vertical_fourth .profile-container .martin_profile:hover .profile-picture img {
    width: auto; /* Fit the new smaller profile picture container */
    height: 100%;
    border-radius: 50%;
    border: ridge 1px rgb(44, 44, 44);
    background-color: rgba(0, 0, 0, 0.319);
}

.vertical_fourth .profile-container .mark_profile:hover .description,
.vertical_fourth .profile-container .martin_profile:hover .description {
    padding-top: 160px; /* Adjust for profile picture placement */
    transition: padding-top 0.3s ease-in-out;
}

@media screen and (width: 2560px) and (orientation:landscape){
    .vertical_fourth .profile-container{
        font-size: 20px;
    }
    .vertical_fourth .profile-container .mark_profile:hover .profile-picture,
    .vertical_fourth .profile-container .martin_profile:hover .profile-picture {
        position: absolute;
        top: 10px;
        left: 50px;
        width: auto;
        height: 200px;
    }
}
