/* VERTICAL FIFTH (PARTNERS) */


.vertical_fifth{
    min-height: fit-content;
    width: 100%;
    background-color: rgb(24, 24, 24);
    border-radius: 15px;
}

.vertical_fifth .sponsor-container {
    padding: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 15px;
}

.vertical_fifth .sponsor-container img{
    width: 80%;
    height: auto;
}

.vertical_fifth h1{
    width: 100%;
    color: white;
    letter-spacing: 2px;
    margin: 0;
    padding-top: 15px;
    text-align: center;
    font-size: 25px;
    font-family: Tahoma, sans-serif;
}

.vertical_fifth h1::after {
    content: ' ';
    display: block;
    width: 0;
    height: 1px;
    background-color: rgb(71, 71, 71);
    margin: 10px auto;
    transition: width 1s ease-out;
}

.vertical_fifth.animate h1::after {
    width: 98%;
}

.vertical_fifth .sponsor-container .sponsor {
    padding: 15px;
    width: 20%;
    height: fit-content;
    margin: auto 0;
    display: flex; 
    align-items: center; 
    justify-content: center;
    opacity: 0; 
    transform: translateX(-100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.vertical_fifth .sponsor-container .sponsor.visible {
    opacity: 1;
    transform: translateX(0); 
}

.vertical_fifth .sponsor-container .sponsor:hover{
    transform: scale(1.18);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}