:root {
    --width-card: 800px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222;
    color: #fff;
}

.container {
    max-width: var(--width-card);
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-top: 0;
    color: #ccc;
}

.location-details {
    margin-top: 20px;
    max-width: 800px;
    overflow-wrap: break-word;
}

.location-details p {
    margin: 5px 0;
    color: #ccc;
    word-break: break-all;
}

.location-details img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}

.gallery_container{
    background-color: #141414;
    border-top: solid 1px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 15%;
}

.gallery img {
    width: 20%;
    height: auto;
    border-radius: 5px;
    padding-left: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
}

.back-btn {
    margin-right: var(--width-card);
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-btn {
    margin-left: calc(var(--width-card) - 120px);
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.map-btn {
    margin-left: calc(var(--width-card) - 120px);
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ccc;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

summary :hover{
    cursor: pointer;
}