body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/login/inota.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.login-container {
    width: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* White shadow */
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #58462d; /* Green button */
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 1px;
}

button:hover {
    background-color: #906d3a /* Darker green on hover */
}

.error-message{ /* Failed register container */
    width: 100%;
    height: fit-content;
    text-align: center;
    color: red;
}