
.vertical_third {
    background-color: black;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    display: grid;
    pointer-events: none;
}

.vertical_third .preview_video{
        width: 100%;
        height: fit-content;
}

